@model ChoixResto.ViewModels.UtilisateurViewModel

[...]

@if (Model.authentified)
{
    <h3>
        Vous êtes déjà authentifié avec le login :
        @Model.utilisateur.Prenom
    </h3>
    @Html.ActionLink("Voulez-vous vous déconnecter ?", "Deconnexion")
}
else
{
    <p>
        Veuillez vous authentifier :
    </p>
    using (Html.BeginForm())
    {
        <div>
            @Html.LabelFor(m => m.utilisateur.Prenom)
            @Html.TextBoxFor(m => m.utilisateur.Prenom)
            @Html.ValidationMessageFor(m => m.utilisateur.Prenom)
        </div>
        <div>
            @Html.LabelFor(m => m.utilisateur.Password)
            @Html.PasswordFor(m => m.utilisateur.Password)
            @Html.ValidationMessageFor(m => m.utilisateur.Password)
        </div>
        <input type="submit" value="Se connecter" />
        <br />
        @Html.ActionLink("Créer un compte", "CreerCompte")
    }
}