@model ChoixResto.ViewModels.RestaurantVoteViewModel

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link type="text/css" href="~/Content/Site.css" rel="stylesheet" />

    <script type="text/javascript" src="~/Scripts/jquery-3.4.1.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.js"></script>




    <script type="text/javascript">
            jQuery.validator.addMethod("verifcontact",
                function (value, element, params) {
                    var tel = $("#" + params.parametre1).val();
                    var email = $("#" + params.parametre2).val();

                    return tel != '' || email != '';
                });

    </script>

    <script>
            jQuery.validator.unobtrusive.adapters.add
                ("verifcontact", ["parametre1", "parametre2"], function (options) {
                    options.rules["verifcontact"] = options.params;
                    options.messages["verifcontact"] = options.message;
                });
    </script>

    <style type="text/css">
        .field-validation-error {
            color: #f00;
        }

        .validation-summary-errors {
            color: #f00;
            font-weight: bold
        }


        .input-validation-error {
            border: 2px solid #f00;
            background-color: #fee
        }

        input[type="checkbox"].input-validation-error {
            outline: 2px solid #f00;
        }
        
    </style>
</head>
<body>

    <div>
        <h4>Restaurant</h4>


            @using (Html.BeginForm())
            {
                <fieldset>
                    @Html.ValidationMessageFor(m => m.listeDesResto)
                    @{

                        for (int i = 0; i < Model.listeDesResto.Count; i++)
                        {

                                        <div>
                                            @Html.CheckBoxFor(m => m.listeDesResto[i].EstSelectione)
                                            @Html.LabelFor(m => m.listeDesResto[i].EstSelectione, Model.listeDesResto[i].NomEtTelephone)
                                            @Html.HiddenFor(m => m.listeDesResto[i].Id)
                                            @Html.HiddenFor(m => m.listeDesResto[i].NomEtTelephone)
                                        </div>
                        }
                    }
                    <input type="submit" value="Valider" />
                </fieldset>
            }
    </div>
    <p>

    </p>
    </body>
</html>
